$border_color: #ececec;

.box-body {
  padding: 12px;
}

.box-header {
  .box-title.with_padding {
    padding: 6px;
    font-size: 22px;
  }
}

.table.table-bordered {
  margin-bottom: 12px;
  border-color: $border_color;

  td,
  th {
    border-color: $border_color;
  }
}
