default: &default
  executor: Hako
  executor_options:
    hako_dir: /home/k0kubun/hako_repo
    hako_env:
      ACCESS_TOKEN: token
    yaml_dir: /yamls
    oneshot_notification_prefix: s3://barbeque/task_statuses?region=ap-northeast-1

development:
  <<: *default

test:
  <<: *default

production:
  <<: *default
