%header.main-header
  %a.logo{ href: '/' }
    %span.logo-mini
      %b> BBQ
    %span.logo-lg
      %b> Barbeque

  %nav.navbar.navbar-static-top{ role: 'navigation' }
    %a.sidebar-toggle{ 'data-toggle': 'offcanvas', href: '#', role: 'button' }
      %span.sr-only Toggle navigation
