%aside.main-sidebar
  %section.sidebar
    %ul.sidebar-menu
      %li.header Menu
      %li{ class: ('active' if controller_path == 'barbeque/apps') }
        = link_to root_path do
          %i.fa.fa-users
          %span Applications
      %li{ class: ('active' if controller_path == 'barbeque/job_definitions') }
        = link_to job_definitions_path do
          %i.fa.fa-tasks
          %span Job Definitions
      %li{ class: ('active' if controller_path == 'barbeque/job_queues') }
        = link_to job_queues_path do
          %i.fa.fa-cubes
          %span Queues
      %li{ class: ('active' if controller_path == 'barbeque/monitors') }
        = link_to monitors_path do
          %i.fa.fa-tachometer
          %span Monitors
