<!DOCTYPE html>
<html>
<head>
  <title>Barbeque</title>
  <%= stylesheet_link_tag    "barbeque/application", media: "all" %>
  <%= javascript_include_tag "barbeque/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
