- content_for(:title, 'New job queue - Barbeque')
- content_for(:header) do
  %ol.breadcrumb
    %li= link_to('Home', root_path)
    %li= link_to('Job queues', job_queues_path)

= render 'form'

= link_to 'Back', job_queues_path
