.row
  .col-sm-12
    .box.box-primary
      .box-header
        %h3.box-title.with_padding Recently processed jobs (hourly)
      .box-body
        #recently-processed-jobs-chart{data: { jobs: @recently_processed_jobs.to_json }}
        %table.table
          %thead
            %tr
              %th Hour
              %th Application
              %th Job
              %th Count
          %tbody
            - @recently_processed_jobs.keys.sort { |x, y| y <=> x }.each do |date_hour|
              - jobs = @recently_processed_jobs[date_hour]
              - jobs.keys.sort.each do |job_id|
                - job = jobs[job_id]
                %tr
                  %td= date_hour
                  %td= link_to(job[:app_name], app_path(job[:app_id]))
                  %td= link_to(job[:job_name], job_definition_path(job[:job_id]))
                  %td= job[:count]

:coffee
  chart_div = document.getElementById('recently-processed-jobs-chart')
  recently_processed_jobs = JSON.parse(chart_div.dataset.jobs)

  counts_per_job = {}
  for own date_hour, jobs of recently_processed_jobs
    for own job_id, job of jobs
      name = job.app_name + ' - ' + job.job_name
      counts_per_job[name] ||= []
      counts_per_job[name][date_hour] ||= job.count

  plotly_args = []
  for own name, series of counts_per_job
    x = []
    y = []
    for own date_hour, count of series
      x.push(date_hour)
      y.push(count)
    plotly_args.push({
      type: 'scatter',
      name: name,
      x: x,
      y: y,
    })
  Plotly.plot(chart_div, plotly_args)
